*
{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecbded;
}
.datetime
{
    color:#fff;
    background-color:#1a1ae6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #9aa7b0;
    border-radius: 5px;
    transition: 0.5s;
  
}

.datetime:hover{
    background-color: #e32e9b;
    box-shadow: 0 0 30px #e32eb0;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.time span:not(:last-child){
    position: relative;
    margin:  0 6 px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    
}